.mainText {
  margin-top: 10vh;
  color: var(--fifth-color);
  font-size: 4rem;
  white-space: nowrap;
  margin-left: 10%;
}

.subText {
  margin-left: 15%;
  color: var(--third-color);
  font-size: 1.5rem;
  white-space: nowrap;
}

.bottomText {
  color: var(--fourth-color);
  font-size: 1rem;
  white-space: nowrap;
  margin-left: 20%;
}
