.mainScreen{
  height: 100vh;
  width: 50vw;
}
.mainScrenSecondHalf{
  height: 100vh;
  width: 50vw;
}
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 51%;
  height: 100%;
}
#tsparticles2 {
  position: absolute;
  top: 0;
  left: 50vw;
  width: 50%;
  height: 100%;
  z-index: -1;
}